<a href="https://colab.research.google.com/github/shivani-reddy/Retail_sales_Analysis_pandasas/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
greeting="hello data engineering"
print(greeting)
int_var=7
float_var=3.14
str_var="Hello World"
bol_var=True

print(int_var)

hello data engineering
7

Data Types: integer, float ,string,boolean.

In [ ]:
Opertors=['Arithmetic','comparsion','logical']
print(Opertors)
num1=7
num2=8
sum=num1+num2
var_equal=num1==num2
print(var_equal)

not_equal= num1!=num2
print(not_equal)

print('AND OR NOT')

print(True or False)

print(True and False)

['Arithmetic', 'comparsion', 'logical']
False
True
AND OR NOT
True
False

In [ ]:
print("Control Statements")
num1=1
num2=2
if num1>num2:
  print("num1 is greater")
else:
  print("num2 is greater")

for i in range(5):
  print(i)

i=7
while i<10:
  print(i)
  i=i+1

Control Statements
num2 is greater
0
1
2
3
4
7
8
9

In [ ]:
print("Functions")

Functions

In [ ]:
def greet():
  print("Hello world")

-Resuable
_Modularize
-Helps in managing the large code

In [ ]:
def greet(name):
  print("hello" + name)

In [ ]:
greet("deepak")

hellodeepak

In [ ]:
def add_numbers(num1,num2):
  return num1+num2

In [ ]:
sum=add_numbers(10,12)
print(sum)

22

In [ ]:
print("Modules")

-python files
-define functions,classes,variables
-import into your code to use

# New Section